.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  position: relative; /* For decorative bars */
}

.decorative-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 140%;
  width: 50px;
  background: linear-gradient(180deg, #007bff, #0056b3);
  z-index: 1;
}

.left-bar {
  left: 0;
}

.right-bar {
  right: 0;
}

.about-container h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.about-container p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 10px;
}

.view-btn,
.download-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-btn:hover {
  background-color: #0056b3;
}

.download-btn:hover {
  background-color: #00408d;
}
